html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* colours */
:root{
  /* --background:#f7ead7;
  --var1: #e984a2;
  --var2: #b9cc95;
  --var3: #eca739; */
  --background:#f5f0e1;
  --var1: #ff6e40;
  --var2: #1e3d59;
  --var3: #ffc13b;
}

/* Link Styles */
a {
  text-decoration: none;
  color: var(--var1);
}

button:active {
  outline: none;
  box-shadow: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

/* Scrollbar styles */
body::-webkit-scrollbar {
  width: 0.2rem;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb {
  background: var(--var3);
}