html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* colours */
:root{
  --primary:#f7ead7;
  --green: #b9cc95;
  --pink: #e984a2;
  --orange: #eca739;
}

/* Link Styles */
a{
  text-decoration: none;
  color: var(--pink);
}

/* Scrollbar styles */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--pink);
}
