.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: var(--primary);
  overflow: auto;
  padding: 1.5em 0;
  border-bottom: 5px solid var(--orange);
  text-transform: uppercase;
}

.navLogo1 {
  color: var(--green);
}

.navLogo2 {
  color: var(--pink);
}