.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: var(--background);
  overflow: auto;
  padding: 1.5em 0;
  border-bottom: 8px solid var(--var2);
  text-transform: uppercase;
}

.navLogo1 {
  color: var(--var1);
  font-size: 2em;
  font-weight: bold;
  margin-left: 1.5rem;
}

.navLogo2 {
  color: var(--var3);
  font-size: 1em;
  font-weight: bold;
  font-style: oblique;
}